<div class="container">
  <h1>Nouveau Potin</h1>

  <%= form_tag('/gossips', method: 'post') do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label_tag :title, "Nom du potin:" %><br>
    <%= text_field_tag :title, nil %><br><br>
    <%= label_tag :content, "Le contenu de votre potin:" %><br>
    <%= text_area_tag :content, nil, size: '60' %>
<<<<<<< HEAD
    <%= submit_tag "Envoyer", data: { turbo: false } %>
  <% end %>
</div>
      <% if @gossip.errors.any? %>
        <div class="alert alert-danger custom_alert" role="alert">
          <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
            <ul class="bullet">
              <li>Le titre doit avoir au minimum 3 characters et maximum 14 characters.</li>
              <li>Le content ne doit pas être vide.</li>
            </ul>
        </div>
      <% end %>
=======
    <%= label_tag :tag, "Tags:" %><br>
    <%= select_tag :tag, options_for_select(Tag.all.map { |tag| [tag.title, tag.id] }), prompt: "Sélectionner des tags", multiple: true %>
    <%= submit_tag "Envoyer", data: { turbo: false } %>
  <% end %>
</div>
<% if @gossip.errors.any? %>
  <div class="alert alert-danger custom_alert" role="alert">
    <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
    <ul class="bullet">
      <li>Le titre doit avoir au minimum 3 characters et maximum 14 characters.</li>
      <li>Le content ne doit pas être vide.</li>
    </ul>
  </div>
<% end %>
>>>>>>> Ajout de tout
