<h5 class=""><%= @city.name %></h5>
<a href="<%= cities_path %>" class="btn-auteur btn btn-primary m-3 rounded-pill">Voir toutes les villes</a>

<div class="container">
  <div class="row justify-content-center mb-5">
    <% @gossips.each do |gossip| %>
      <div class="card mb-3 mx-4 card-home" style="width: 17rem;">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title" style="color: #ff60aa;"><%= gossip.title %></h5>
          <p class="card-text"><em><%= gossip.content %></em></p>
          <div class="mt-auto text-center">
            <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Voir le potin</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>